<div class="row tab-bar">
    <div class="col-2">
        <div class="red-menu-button">
            PO Summary
        </div>
    </div>
    <div class="col-10 right-button">
        <button class="btn btn-red" (click)="toggleUploadForm()">
            upload PO
          </button>        
        <div class="search-box">
            <div class="inner-searchbox">
                <input type="text" class="form-control search-input" placeholder="PO # , Vendor, Vendor #, Year, Date">
                <div class="input-group-append searchbtn">
                  <button class="btn" type="submit"><img src="../../../assets/images/search.svg"></button>
                </div>
            </div>
          </div>

    </div>
</div>
<div class="dashboard-content">
    <div class="po-listing">
        <div class="po-list-header">
            <div class="po-list-header-item">PO#</div>
            <div class="po-list-header-item">Vendor ID</div>
            <div class="po-list-header-item">PO Status</div>
            <div class="po-list-header-item">Order Date</div>
            <div class="po-list-header-item">PO Due Date</div>
            <div class="po-list-header-item">Projected Due Date</div>
            <div class="po-list-header-item">Items #</div>
            <div class="po-list-header-item">Total Cost</div>
            <div class="po-list-header-item">Actions</div>
        </div>
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order" routerLink="../../admin/po">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="red"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div> 
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="orange"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date-red.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>       

        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>
        
        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>   


        <div class="po-list-content">
            <div class="po-list-content-item po-order"><span class="po-order">543566345</span></div>
            <div class="po-list-content-item">
                <span class="po-title">Ultra Engg.</span>
                <span class="po-number">J98766KI82G3</span>
            </div>
            <div class="po-list-content-item"><span class="green"></span></div>
            <div class="po-list-content-item">01 May 2020</div>
            <div class="po-list-content-item">25 May 2020</div>
            <div class="po-list-content-item">31 May 2020</div>
            <div class="po-list-content-item">3</div>
            <div class="po-list-content-item">$ 520</div>
            <div class="po-list-content-item actions-grid">
                <div class="next-date"><a href="#"><img src="../../../assets/images/next-date.svg"></a></div>
                <div class="message-info"><a href="#"><img src="../../../assets/images/message.svg"></a></div>
            </div>
        </div>

    </div>
</div>

<div *ngIf="showUploadForm">
    <div class="upload-form">
        <div class="upload-wrapper">
            <img src="../../../assets/images/fileupload.svg">
            <span class="upload-text">Upload CSV File</span>
            <div class="upload-btn-wrapper">
                <button class="upload-btn">Browse</button>
                <input type="file" name="myfile" />
            </div>
        </div>
    </div>
</div>
